{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    //    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "react-hooks",
    "prettier",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "off",
    // "@typescript-eslint/explicit-function-return-type": 1,
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": ["PascalCase"],
        "selector": "interface"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",

    "semi": "off",
    "import/no-cycle": "error",
    "import/no-self-import": "error",
    "import/named": "off",
    "import/namespace": [
      "error",
      {
        "allowComputed": true
      }
    ],
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArrowFunction": true,
        "allowObject": true
      }
    ],
    "import/no-duplicates": "error",
    "import/no-unresolved": "off",
    "import/no-useless-path-segments": "off",
    //    "import/order": ["error", {
    //      "newlines-between": "always"
    //    }],

    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-autofocus": "warn",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "labelComponents": [],
        "labelAttributes": [],
        "controlComponents": [],
        "assert": "htmlFor",
        "depth": 25
      }
    ],

    "react/jsx-boolean-value": "off",
    "react/jsx-key": "error",
    "react/jsx-no-lambda": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prop-types": "off",
    "react/self-closing-comp": "off",

    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "off",

    "member-access": "off",
    "member-ordering": "off",
    "no-console": "off",
    "no-case-declarations": "off",
    "no-restricted-imports": "off",
    "no-empty-interface": "off",
    "no-shadowed-variable": "off",
    "no-string-literal": "off",
    "no-unexpected-multiline": "off",
    "no-unused-expression": "off",
    "no-var-requires": "off",
    "sort-imports": "off",
    "sort-keys": "off",
    "spaced-comment": "off",
    "react/no-unused-state": "off",
    "react/no-unused-prop-types": "off",
    "react/no-array-index-key": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.ts"],
      "rules": {
        "camelcase": "off"
      }
    }
  ]
}
