@import '/src/styles/variables';
@import '/src/styles/mixins';

.Profile {
  width: 100%;
  display: flex;
  flex-direction: column;

  &Title {
    @include h3-medium;
    margin: 1rem 0 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  // &SectionAnchors {
  //   margin: -0.5rem 2rem -1rem;
  //   display: flex;
  //   gap: 1rem;

  //   @include mobile {
  //     margin: 0;
  //     gap: 0.5rem;
  //     justify-content: space-around;
  //     overflow-x: scroll;
  //     padding-bottom: 5px;

  //     & > div:first-child {
  //       margin-left: 50px;
  //     }
  //     &::-webkit-scrollbar {
  //       width: 0px;
  //       height: 0px;
  //     }
  //     &::-webkit-scrollbar-track {
  //       background: transparent;
  //     }
  //     &::-webkit-scrollbar-thumb {
  //       background-color: transparent;
  //       border-radius: 20px;
  //       border: 3px solid transparent;
  //     }
  //   }
  // }

  &Documents {
    // max-height: 185px;
    &Row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      @include mobile {
        display: block;
        flex-direction: column;
      }
    }
    &Button {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
    }
  }
}

.Notification {
  padding-right: 20px;
  font-size: 12px;
}

.RightShadow::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 60px;
  height: 25px;
  background: linear-gradient(92deg, #f2f2f2, transparent);
}

.LeftShadow::after {
  content: '';
  position: absolute;
  right: 0px;
  width: 83px;
  height: 25px;
  background: linear-gradient(270deg, #f2f2f2, transparent);
}
.Export {
  &Card {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    &Text {
      flex: 1 1 400px;
    }
  }
}

.CardTitle {
  font-family: 'CeraProMedium';
  font-size: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.Testrouter {
  &Platforms {
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    &Item {
      height: 80px;
      width: 160px;
      padding: 4px 16px;
      display: flex;
      flex-flow: column nowrap;
      gap: 8px;

      justify-content: center;

      border-radius: 16px;
      border: 1px solid #e4e9ef;
      img {
        max-height: 25px;
        max-width: 100%;
        width: fit-content;
      }
      p {
        @include p3-medium;
        margin: 0;
      }
    }
  }
}
