@import 'styles/variables';
@import 'styles/mixins';

.Service {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.Hero {
  @include card;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &Text {
    flex: 1 0;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    &Subtitle {
    }
  }
  &Buttons {
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
    button {
      width: auto !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  &Image {
    width: 250px;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    margin: 0 !important;
  }
}

.Whocanget {
  @include card;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  gap: 0.6rem;

  &Title {
    margin-block-end: 0;
  }
  &Subtitle {
    color: $color-accent-primary;
    margin-block-end: 0;
  }
  &Text {
    color: #00000099;
    margin-block-end: 0;
  }
}

.Whatiscompensated {
  @include card;
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;
  gap: 0.6rem;

  &Content {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;

    &Left {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
  // svg {
  //   width: 8rem;
  //   min-width: 8rem;
  // }

  &Title {
    // margin-block-end: 0;
  }
  &Subtitle {
    // margin-block-end: 0;
    color: $color-accent-primary;
  }
  &Text {
    color: #00000099;
    // margin-block-end: 0;
  }
}

.Result {
  @include card;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.6rem;

  &Title {
    margin-block-end: 0;
  }
  &Subtitle {
    color: $color-accent-primary;
    margin-block-end: 0;
  }
  &Text {
    color: #00000099;
    margin-block-end: 0;
  }
}

.Compensationsize {
  @include card;
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;
  gap: 0.6rem;

  &Content {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  // svg {
  //   width: 8rem;
  //   min-width: 8rem;
  // }
  &Title {
    // margin-block-end: 0;
  }
  &Subtitle {
    // margin-block-end: 0;
    font-size: 20px;
    color: $color-accent-primary;
  }
  &Text {
    color: #00000099;
    // margin-block-end: 0;
  }
}

.Compensationperiod {
  @include card;
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;
  gap: 0.6rem;

  // svg {
  //   width: 8rem;
  //   min-width: 8rem;
  // }
  &Content {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    // gap: 2.5rem;
    align-items: stretch;
    justify-content: space-between;
  }

  // svg {
  //   width: 8rem;
  //   min-width: 8rem;
  // }
  &Title {
    // margin-block-end: 0;
  }
  &Text {
    // color: #00000099;
    color: $color-accent-primary;
    // margin-block-end: 0;
  }
}

.Documents {
  @include card;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 0.6rem;
  div {
    min-width: 40%;
    flex: 1;
  }

  &Title {
    margin-block-end: 0;
  }

  &Item {
    color: $color-accent-primary;
    &:active,
    &:visited,
    &:hover {
      color: $color-accent-primary;
    }
  }
  .DocsColumn {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
  }
}

.Actions {
  @include card;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  button {
    width: auto !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
