@import 'styles/variables';
@import 'styles/mixins';

.Breadcrumbs {
  margin-left: 0.5rem;
  color: $color-text-disabled;

  &Item {
    @include p4-regular;
    text-decoration: none;
    color: $color-text-disabled;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    
    &:hover {
      color: unset;
    }
  }
  
  &Delimeter {
    padding: 0 0.5rem;
  }
}
