@import '/src/styles/variables';
@import '/src/styles/mixins';

$tooltip-width: 280px;

.Tooltip {
  @include p3-medium;
  padding: 1rem;
  width: 280px;
  position: absolute;
  left: calc(50% - $tooltip-width / 2);
  top: calc(70% + 0.75rem);
  color: $color-text-inversion;
  background-color: $color-notification-default;
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 1;

  &Wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    @include mobile {
      width: 100%;
      margin-top: 10px;
    }
  }

  &Arrow {
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    left: calc(50% - 0.25rem);
    background-color: $color-notification-default;
    transform: translateY(-1.25rem) rotate(45deg);
  }
}
